* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    height: 1123px;
    width: 794px;
    margin: 0 auto;
    padding: 60px 70px 96px 70px;
    background-color: white;
}

.header-grid {
    display: grid;
    grid-template-columns: 130px 500px 130px;
    grid-template-rows: 60px 60px;
    width: 100%;
    border-collapse: collapse;
}

.header-grid > div {
    border: 1px solid black;
}

.left-image {
    grid-row: 1 / 3;
    grid-column: 1;
}

.right-image {
    grid-row: 1 / 3;
    grid-column: 3;
}

.text-top {
    grid-row: 1;
    grid-column: 2;
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 10pt;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.text-bottom {
    grid-row: 2;
    grid-column: 2;
    background-color: #ccccff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.text-bottom .main-title {
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 14pt;
    text-align: center;
    color: black;
}

.text-bottom .bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text-bottom .bottom-row .left {
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 8pt;
    text-align: left;
    width: 80%;
    margin-top: 12px;
}

.text-bottom .bottom-row .right {
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 10pt;
    text-align: right;
    width: 100%;
}

.left-image img,
.right-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.after-table {
    text-align: left;
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 12pt;
    margin-top: 8px;
}

.main-table {
    width: 116%;
    border-collapse: collapse;
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 8pt;
}

.label-cell {
    width: 100px;
    border: 1px solid black;
    padding: 4px;
    background-color: #f0f0f0;
    font-weight: bold;
}

.input-cell {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 4px;
}

.input-cell select {
    width: 100%;
    padding: 2px;
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 8pt;
}


.full-width-cell {
    border: 1px solid black;
    padding: 5px;
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 8pt;
}

.literatura-table,
.nastava-table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 8pt;
}

.literatura-table th,
.literatura-table td,
.nastava-table th,
.nastava-table td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}

.literatura-table th,
.nastava-table th {
    font-weight: normal;
}

.literatura-table input {
    width: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    padding: 2px;
    box-sizing: border-box;
}

.literatura-table {
    border-top: none;
}

.literatura-row {
    display: flex;
    align-items: center;
}

.literatura-row .delete-btn {
    margin-left: 10px;
    padding: 2px 6px;
    font-size: 8pt;
    cursor: pointer;
    border: 1px solid #333;
    background-color: #eee;
}

.full-width-cell textarea {
    width: 100%;
    min-height: 500px;
    height: auto;
    resize: vertical;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    padding: 4px;
    overflow-wrap: break-word;
}

.sadrzaj-predmeta {
    width: 100%;
    min-height: 80px; 
    height: auto; 
    white-space: pre-wrap;
    word-wrap: break-word; 
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    padding: 4px;
    box-sizing: border-box;
}

.ocena-table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 8pt;
    margin-top: 10px;
}

.ocene-table {
    table-layout: fixed;
    width: 116%;
    border-collapse: collapse;
    font-family: "Microsoft Sans Serif", sans-serif;
    font-size: 8pt;
    margin-top: 0;
    border-top: none;
}

.ocene-table tr:first-child td,
.ocene-table tr:first-child th {
    border-top: none;
}

.ocene-table th,
.ocene-table td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}

.ocene-table th {
    font-weight: normal;
    background-color: #f0f0f0;
}

.ocene-table td[contenteditable="true"] {
    border: 1px solid black;
    outline: none;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
}

.ocene-table .kolona-naziv {
    width: 34%;
}

.ocene-table .kolona-obavezna {
    width: 8%;
}